<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Career Center API</title>
  </head>
  <body>
    <h1>Career Center API</h1>

    <h2>API Endpoints:</h2>
    <ul>
      <li><a href="/admin/">Админка: /admin/</a></li>
      <li><a href="/api/vacancies/">API вакансии: /api/vacancies/</a></li>
      <li><a href="/api/companies/">API компании: /api/companies/</a></li>
    </ul>

    <h2>Вакансии:</h2>
    <ul>
      <li><a href="/vacancies/">Посмотреть вакансии: /vacancies/</a></li>
      <li><a href="/vacancies/add/">Добавить вакансию: /vacancies/add/</a></li>
    </ul>

    <h2>Компании:</h2>
    <ul>
      <li><a href="/companies/">Посмотреть компании: /companies/</a></li>
      <li><a href="/companies/add/">Добавить компанию: /companies/add/</a></li>
    </ul>
  </body>
</html>
